In [5]:
#Functions

name= "Adnan Khan"
roll_no= 18
course= "DS for AI"
Institute= "NED"

print("Name : " + name + ", Roll No : " + str(roll_no) + ", Course : " + course + ", Institute : " + Institute )

Name : Adnan Khan, Roll No : 18, Course : DS for AI, Institute : NED

In [9]:
name= "Adnan Khan"
roll_no= 18
course= "DS for AI"
Institute= "NED"

card= """
NED University
Summer 2022

Name: {}
Roll No: {}
Course: {}
Institute:{}
""".format(name,roll_no,course,Institute)

print(card)

NED University
Summer 2022

Name: Adnan Khan
Roll No: 18
Course: DS for AI
Institute:NED

In [12]:
name= "Adnan Khan"
roll_no= 18
course= "DS for AI"
Institute= "NED"

card= """
NED University
Summer 2022

Name: {1}
Roll No: {3}
Course: {0}
Institute:{2}
""".format(course,name,Institute,roll_no)

print(card)

NED University
Summer 2022

Name: Adnan Khan
Roll No: 18
Course: DS for AI
Institute:NED

In [15]:
name= "Adnan Khan"
roll_no= 18
course= "DS for AI"
Institute= "NED"

card= f"""
NED University
Summer 2022

Name: {name}
Roll No: {roll_no}
Course: {course}
Institute:{Institute}
"""

print(card)

NED University
Summer 2022

Name: Adnan Khan
Roll No: 18
Course: DS for AI
Institute:NED

In [13]:
def add_two_num(a,b):
    print(f"Num one is : {a} , Num two is : {b} and sum is : {a+b}")
    
add_two_num(5,5)

Num one is : 5 , Num two is : 5 and sum is : 10

In [16]:
add_two_num(5,5)
add_two_num(25,5)

Num one is : 5 , Num two is : 5 and sum is : 10
Num one is : 25 , Num two is : 5 and sum is : 30

In [19]:

def my_id_card(name, roll_no,course,Institute):
    card=f"""
    NED University
    Summer 2022

    Name: {name}
    Roll No: {roll_no}
    Course: {course}
    Institute: {Institute}
    """
    return card
get_card= my_id_card("Adnan Khan",18, "DS for AI", "NED")
print(get_card)

    NED University
    Summer 2022

    Name: Adnan Khan
    Roll No: 18
    Course: DS for AI
    Institute: NED

In [20]:
new_card= my_id_card("Nauman", 21, "DS for AI", "NED")
print(new_card)

    NED University
    Summer 2022

    Name: Nauman
    Roll No: 21
    Course: DS for AI
    Institute: NED

In [21]:
l1= ["Adnan Khan",18,"DS for AI", "NED"]
c1= my_id_card(l1[0],l1[1],l1[2],l1[3])
print(c1)

    NED University
    Summer 2022

    Name: Adnan Khan
    Roll No: 18
    Course: DS for AI
    Institute: NED

In [22]:
a,b,c = [1,2,3] 
print(a)
print(b)
print(c)

1
2
3

In [78]:
l2= ["Adnan Khan",18,"DS for AI", "NED"]
c2= my_id_card(*l2)
print(c2)

    NED University
    Summer 2022

    Name: Adnan Khan
    Roll No: 18
    Course: DS for AI
    Institute: NED

In [27]:
d1={
    "name": "Adnan Khan",
    "roll_no": 18,
    "course" : "DS for AI",
    "Institute": "NED"
}

c3= my_id_card(**d1)
print(c3)

    NED University
    Summer 2022

    Name: Adnan Khan
    Roll No: 18
    Course: DS for AI
    Institute: NED

In [28]:
def sum_val(a,b,*c):
    print(a,b,c)
    
sum_val(5,5,1,2,3,4,5)

5 5 (1, 2, 3, 4, 5)

In [29]:
def sum_val(a,b,*c):
    sum=a+b
    for i in c:
        sum=sum+i
        
    print(sum)
    
sum_val(5,5,1,2,3,4,5)

25

In [39]:
def sum_val(a,b,**c):
    sum=a+b
    for i in c.values():
        if type(i) is type(1):
            sum=sum+i
    print(sum)
    
sum_val(5,5,num1=1,num2=2,num3=3,num4=4,num5=5 ,pak="pak", z="xyz")
sum_val(100,200,num3=7, num8=20, pak='123')

25
327

In [40]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [44]:
def add_num(num1,num2,*n):
    return num1 + num2 + sum(n)

data = [[1,2,3,4],
       [1,2,3],
       [7,8,9,20,20,20,89]]


for r in data:
    print(add_num(*r))

10
6
173

In [51]:
def sum1(a,b,*c):
    return a+b+sum(c)

data= [[1,2,3,2,2],
       [1,2,3,2,2],
       [1,5,3,2,2]]

for r in data:
    print(sum1(*r))

10
10
13

In [54]:
def this_range(a,b):
    for i in range(a, b+1):
        print(i)
        
this_range(1,5)

1
2
3
4
5

In [59]:
def r1(a,c):
    for i in range(a,c+1):
        yield i
        
p= r1(1,5)
print(p)
print(next(p))
print(next(p))
print(next(p))
print(next(p))
print(next(p))

<generator object r1 at 0x0000017452F076F0>
1
2
3
4
5

In [61]:
print(list(r1(1,5)))

[1, 2, 3, 4, 5]

In [69]:
def rec_s(n):
    if n==0:
        return n
    else:
        return n + rec_s(n-1)
    
rec_s(5)

15

In [70]:
a= lambda x,y,z : x+y+z

print(a(5,5,5))

15

In [71]:
p= lambda s,t,u: s*t*u
print(p(2,2,2))

8

In [72]:
l=[1,2,3,4]

list(map(lambda x:x+5, l))

[6, 7, 8, 9]

In [73]:
l=[1,2,3,4]

def abc(x):
    return x + 5

list(map(abc, l))

[6, 7, 8, 9]

In [74]:
l=[1,2,3,4]
def abc(x):
    return x + 5
#mapping saves us from using loop
for i in l:
    print(abc(i))

6
7
8
9

In [76]:
l = [20,27,30,50]
def abc(x):
    if x%2!=0:
        return x
#The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.
list(filter(abc, l))

[27]

In [77]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
  
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]