#                                                   ## Operators and Data types

In [3]:
print(2+3)

5

In [4]:
5/2

2.5

In [5]:
5//2

2

In [6]:
5%2

1

In [7]:
10%2

0

In [8]:
2*2

4

In [9]:
2**3

8

In [10]:
8**3

512

In [11]:
8/3

2.6666666666666665

In [12]:
8//3

2

In [13]:
a=8
b=2
a is b

False

In [23]:
a=8
b=7
c=a
print(c is a)
print (a is b)
print (a is not c)

True
False
False

In [24]:
name= "Adnan"
print("name:", name)
print("Type:" ,type(name))
print("Id:" ,id(name))
print("All methods/attributes:", dir(name))

name: Adnan
Type: <class 'str'>
Id: 2184189495256
All methods/attributes: ['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [26]:
age= 20
print("age:", age)
print("Type:" ,type(age))
print("Id:" ,id(age))
print("All methods/attributes:", dir(age))

age: 20
Type: <class 'int'>
Id: 1584358144
All methods/attributes: ['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
import re

In [40]:
names=["ali","ahmed","daud"]
print(names)
print(type(names))
print(id(names))
print(dir(names))
names[]
names[0]="khan"
names.reverse()
print(names)

['ali', 'ahmed', 'daud']
<class 'list'>
2184189449160
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['daud', 'ahmed', 'khan']

In [54]:
#        -4    -3        -2      -1
names=("ali","ahmed","daud","ali")
#        0      1        2     3
print(names)
print(type(names))
print(id(names))
print(dir(names))
print(names[0:2])
print(names[-1:-2])
names[0]="khan"

('ali', 'ahmed', 'daud', 'ali')
<class 'tuple'>
2184191047944
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
('ali', 'ahmed')
()

TypeError: 'tuple' object does not support item assignment

In [51]:
names={"ali","ahmed","daud","ali"}
print(names)
print(type(names))
print(id(names))
print(dir(names))

names[0]="khan"

{'ali', 'daud', 'ahmed'}
<class 'set'>
2184189546568
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

TypeError: 'set' object is not subscriptable

In [65]:
import pandas as p

student= {
    'name': "Adnan",
    "rollNo": 12,
    "Course": "AI"
}
print(student)

{'name': 'Adnan', 'rollNo': 12, 'Course': 'AI'}

In [56]:
print(type(student))

<class 'dict'>

In [57]:
dir(student)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [66]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

# Typecasting

In [71]:
a=2
print(type(a))
a=float(a)
print(type(a))
type(tuple([1,2,3]))

<class 'int'>
<class 'float'>

tuple

In [72]:
a=2
b=2
print(id(a))
print(id(b))

1584357568
1584357568

In [73]:
chr(65)

'A'

In [84]:
ord('A')

65

In [75]:
bin(10)

'0b1010'

In [76]:
bin(2)

'0b10'

In [77]:
bin(3)

'0b11'

In [78]:
range(10)

range(0, 10)

In [79]:
range(0,10)

range(0, 10)

In [80]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [83]:
list(range(3,31,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]