In [2]:
code= """
a=5
b=10

mul= 5 * 10

print("Product is :", mul)
"""
execCode= compile(code, "test", "exec")

exec(execCode)

Product is : 50

In [1]:
code= """
a=5
b=10

sum= 5 + 10

print("Sum is :", sum)
"""
execCode= compile(code, "test", "exec")

exec(execCode)

Sum is : 15

In [3]:
list("abcdefghijklmnopqrstuvwxyz")

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [4]:
keys= ['a','b','c']
values= [1,2,3]

{k:v for k,v in zip(keys,values)}

{'a': 1, 'b': 2, 'c': 3}

In [5]:
data= {
    "id" : list("123456789"),
    "names": list("abcdefghi")
}

data

{'id': ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
 'names': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']}

In [6]:
import pandas as pd
df=pd.DataFrame(data)
print(df)

#Pandas is the excel of today

  id names
0  1     a
1  2     b
2  3     c
3  4     d
4  5     e
5  6     f
6  7     g
7  8     h
8  9     i

In [7]:
names= []

while True:
    name= input(("Enter your name to append to the list or enter 'X' or 'x' or 'exit' to exit : "))
    if name=="x" or name=="X" or name=="exit":
        break
    
    else:
        names.append(name)
    
print(names)

Enter your name to append to the list or enter 'X' or 'x' or 'exit' to exit : adnan
Enter your name to append to the list or enter 'X' or 'x' or 'exit' to exit : ali
Enter your name to append to the list or enter 'X' or 'x' or 'exit' to exit : ahmed
Enter your name to append to the list or enter 'X' or 'x' or 'exit' to exit : x
['adnan', 'ali', 'ahmed']

In [8]:
l1= list("abc")
l2= list("def")

l1.append(l2)
l1

['a', 'b', 'c', ['d', 'e', 'f']]

In [9]:
l1= list("abc")
l2= list("def")

l1.extend(l2)
l1

['a', 'b', 'c', 'd', 'e', 'f']

In [10]:
import pandas as pd
df = pd.read_excel("test.xlsx")
print(df)

   ID   Name     Course
0   1  Adnan         AI
1   2    Ali  DS for AI
2   3  Ahmed        NLP

In [11]:
df['Name']= df['Name'].apply(str.upper)
df

   ID   Name     Course
0   1  ADNAN         AI
1   2    ALI  DS for AI
2   3  AHMED        NLP

In [12]:
df.to_excel("output.xlsx", index= False)

In [19]:
df1= pd.read_excel('C:\\Users\\Pc1\\Desktop\\test.xlsx')
print(df1)

   ID   Name     Course
0   1  Adnan         AI
1   2    Ali  DS for AI
2   3  Ahmed        NLP

# Exception Handling

In [20]:
print("Pakistan")
print("Pakistan")

print( 7 / 0 )

print("Pakistan")
print("Pakistan")
print("Pakistan")

Pakistan
Pakistan

ZeroDivisionError: division by zero

In [22]:
print(k)

NameError: name 'k' is not defined

In [23]:
a = [2,3]

a[7]

IndexError: list index out of range

In [24]:
dic1 = {'a':20, 'b':25}

dic1['z']

KeyError: 'z'

In [25]:
open("abc.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'abc.txt'

In [28]:
int('7.2')

ValueError: invalid literal for int() with base 10: '7.2'

In [29]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [32]:
list(2032)

TypeError: 'int' object is not iterable

In [34]:
"""try:
    your code
except (err1Class,err2Class,...):
    message show against your errClass
else:
    message show if exception did'nt raise
finally:
    always run this block
    """

"try:\n    your code\nexcept (err1Class,err2Class,...):\n    message show against your errClass\nelse:\n    message show if exception did'nt raise\nfinally:\n    always run this block\n    "

In [35]:
try:
    print(7/0)
except ZeroDivisionError:
    print("Division by 0 is not allowed")
else:
    print("Code is working fine")
finally:
    print("This will always run")

Division by 0 is not allowed
This will always run

In [36]:
try:
    a = [2,3]
    print(a[12])
except IndexError:  
    print("Index does'nt exist!")
else:
    print("Code is working fine")
finally:
    print("Will always run")

Index does'nt exist!
Will always run

In [37]:
try:
    with open('stu.txt') as f:
        pass
except FileNotFoundError:  
    print("File is not there")

File is not there

In [38]:
try:
    open('abc.txt')
    print("pakkistan")
    a = [2,3]
    print(a[7])
    print(6 / 0)
    
except (FileNotFoundError, ZeroDivisionError,IndexError):  
    print("ABC")

ABC

In [40]:
try :
    open('abc.txt')
except FileNotFoundError:
    print("file Not found")
    
try:
    a = [2,3]
    print(a[7])
except IndexError:
    print("Out of index")

try:    
    print(6 / 0)

except ZeroDivisionError:  
    print("Zero Division Error")

file Not found
Out of index
Zero Division Error

In [41]:
try:
    print(7 / 0)
except Exception as a:
    print(a)
else:
    print("Your Code is runing without any error")

division by zero

In [42]:
try:
    print(7 / 2)
except Exception as a:
    print(a)
else:
    print("Your Code is runing without any error")

3.5
Your Code is runing without any error

In [43]:
try:
    print(7 / 0)
except Exception as a:
    print(a)
else:
    print("Your Code is runing without any error")
finally:
    print("Finally always run")

division by zero
Finally always run

In [44]:
import sys
sys.platform

'win32'

# Raise Exception

In [47]:
class Student:
    def __init__(self,name,age):
        if (age<18 or age>80):
            raise Exception("Age can not be greater then 80 and less then 18")
        self.name = name
        self.age = age

st = Student("Asif",17)
print(st.age)

Exception: Age can not be greater then 80 and less then 18

In [49]:
st1= Student("Ahmed", 90)
print(st1)

Exception: Age can not be greater then 80 and less then 18

# Datetime

In [50]:
import datetime as dt

t= dt.datetime.now()
print(t)

2022-09-03 11:36:11.122281

In [51]:
import datetime

x = datetime.datetime.now()
print(x)

2022-09-03 11:36:33.766320

In [52]:
x = datetime.datetime.now()
print(x)
print(x.year)
print(x.month)
print(x.day)
print(x.hour)
print(x.minute)
print(x.second)

2022-09-03 11:38:22.751135
2022
9
3
11
38
22

In [54]:
print(x.strftime('%y'))
print(x.strftime('%Y'))
print(x.strftime('%m'))
print(x.strftime('%b'))
print(x.strftime('%B'))
print(x.strftime("%d %A, %Y %I:%m %p"))
print(x.strftime("%j"))
print(int(x.strftime("%j")) / 366)
print(x.strftime("%U"))

22
2022
09
Sep
September
03 Saturday, 2022 11:09 AM
246
0.6721311475409836
35